body {
    font-family: 'Poppins', sans-serif;
}

footer h1 {
    font-family: 'Mr Dafoe', cursive;
}


@media only screen and (max-width: 688px) {


    /* carousel */
    .carousel-indicators {
        visibility: hidden;
    }

    .carousel-caption {
        top: 10px;
        /* width: 100%; */
    }

    .carousel-caption h1 {
        font-size: 20px;
    }

    .carousel-caption p {
        font-size: 10px;
    }

    #carousel-btn {
        margin: 0%;
    }


    /* courses */
    .course-title h1 {
        font-size: 25px;
    }

    .course-card {
        flex-direction: column;
    }

    .course-card img {
        width: 100%;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .course-card-text {
        text-align: center;
    }


    /* best deals */
    .deals {
        flex-direction: column;
    }

    .deals img {
        width: 100%;
        margin-bottom: 30px;
    }

    #deals-texts {
        /* margin-left: 1px; */
        padding-left: 0%;
    }

    .deals-btn {
        justify-content: center;
        margin-bottom: 20px;
    }


    /* modal area */
    .register-btn {
        flex-direction: column;
    }


    /* success */
    .Successfull-student {
        flex-direction: column;
        align-items: center;
    }

    /* cards */
    .card {
        margin-top: 20px;
    }


    /* company logo */
    .brands {
        flex-direction: column;
        align-items: center;
    }

    .brands-logo {
        margin-bottom: 10px;
    }


















}